APP_ENV=local
LOG_LEVEL=INFO

SC_DB_URL=mssql+pyodbc://user:password@server/database?driver=ODBC+Driver+17+for+SQL+Server

ENABLE_SCHEDULER=false
ENABLE_FILE_SERVICE=false
ENABLE_AUTH_INTEGRATION=false

